version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: dadnovin-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: YMCMBpass
      POSTGRES_DB: dadnovin_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: prod_runner
    container_name: dadnovin-app
    restart: always
    ports:
      - "3000:3000"
    environment:
      DB_HOST: "localhost"
      # Add additional production-specific environment variables as needed
    depends_on:
      - postgres
    healthcheck:
      test:
        - CMD
        - wget
        - --no-verbose
        - --tries=1
        - --spider
        - http://localhost:3000
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
